--- 
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>


<style lang="scss">
.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 45px;
  height: 4px;
  background-color: #fff;
  
  &:not(:first-child) {
    margin-top: 10px;
  }
}
</style>