---
import ThemeIcon from './ThemeIcon.astro';
import Navigation from './Navigation/index.astro';
import Hamburger from './Hamburger.astro';
---
<header class="p-2 border-b-2">
  <nav class="w-full flex items-center justify-start" aria-label="Global">
    <ThemeIcon />
    <Navigation />
    <div class="md:hidden ml-auto">
      <Hamburger class="hamburger" />
    </div>
  </nav>
</header>