---
import Navigation from './Navigation/index.astro';
import Hamburger from './Hamburger.astro';
---
<header class="border-b-2">
  <nav class="w-full h-full flex items-center justify-start" aria-label="Global">
    <div class="logo">
      <svg width="40" height="40" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.0138 15.3931C22.9486 14.4592 23.628 13.3009 23.9869 12.0293C24.3459 10.7576 24.3724 9.41508 24.064 8.13022L26.8171 6.94953C26.9011 6.91353 26.9927 6.89895 27.0837 6.90709C27.1746 6.91523 27.2622 6.94582 27.3384 6.99614C27.4147 7.04646 27.4772 7.11491 27.5205 7.19537C27.5637 7.27583 27.5863 7.36577 27.5862 7.45711V23.1724L19.8621 26.4828L13.2414 23.1724L6.28638 26.1528C6.20242 26.1888 6.11084 26.2034 6.01986 26.1953C5.92887 26.1871 5.84133 26.1565 5.76509 26.1062C5.68885 26.0559 5.6263 25.9874 5.58305 25.907C5.53979 25.8265 5.51719 25.7366 5.51727 25.6452V9.93104L8.96996 8.45132C8.72703 9.69334 8.79331 10.976 9.16296 12.1864C9.53261 13.3968 10.1943 14.4976 11.0897 15.392L16.5518 20.8552L22.0138 15.3931ZM20.4535 13.8328L16.5518 17.7324L12.65 13.8317C11.8785 13.0601 11.3532 12.077 11.1404 11.0068C10.9277 9.93659 11.037 8.82733 11.4546 7.81928C11.8723 6.81122 12.5794 5.94963 13.4867 5.34345C14.394 4.73727 15.4606 4.41373 16.5518 4.41373C17.6429 4.41373 18.7095 4.73727 19.6168 5.34345C20.5241 5.94963 21.2313 6.81122 21.6489 7.81928C22.0665 8.82733 22.1759 9.93659 21.9631 11.0068C21.7503 12.077 21.225 13.0601 20.4535 13.8317V13.8328Z" fill="white"/>
        <circle cx="16" cy="16" r="15.5" stroke="white"/>
      </svg>
    </div>

    <Navigation />
    <div class="md:hidden ml-auto">
      <Hamburger class="hamburger" />
    </div>
  </nav>
</header>

<style scoped>
header {
  height: 80px;
  background-color: #0d0950;
  padding: 0 22px;
}
</style>