---
import ThemeIcon from './ThemeIcon.astro';
import Navigation from './Navigation/index.astro';
import Hamburger from './Hamburger.astro';

---
<header>
  <nav class="w-full flex items-center justify-between" aria-label="Global">
    <ThemeIcon />
    <Navigation />
    <div class="md:hidden flex flex-1 justify-end">
      <Hamburger class="hamburger" />
    </div>
  </nav>
</header>