---
---
<a class='social' href='mailto:b055254113@gmail.com' target='_blank'>
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 40 40">
    <defs>
      <clipPath id="a" class="a">
        <path fill="#fff" d="M0 0h40v40H0z"/>
      </clipPath>
    </defs>
    <g class="logos:google-gmail" clip-path="url(#a)">
      <path fill="#4285F4" d="M9.09 39.803v-20.5l-4.792-5.816L0 10.26v25.925c0 2.002 1.223 3.618 2.727 3.618h6.364Z" class="Vector"/>
      <path fill="#34A853" d="M30.91 39.803h6.363c1.509 0 2.727-1.622 2.727-3.617V10.26l-4.868 3.697-4.223 5.347v20.5Z" class="Vector"/>
      <path fill="#EA4335" d="m9.09 19.304-.651-8.01.652-7.666L20 14.48 30.909 3.628l.73 7.252-.73 8.424L20 30.156 9.09 19.304Z" class="Vector"/>
      <path fill="#FBBC04" d="M30.91 3.628v15.676L40 10.26V5.436c0-4.473-3.85-7.023-6.545-4.34l-2.546 2.532Z" class="Vector"/>
      <path fill="#C5221F" d="m0 10.26 4.181 4.16 4.91 4.884V3.628L6.545 1.096C3.845-1.588 0 .963 0 5.436v4.824Z" class="Vector"/>
    </g>
  </svg>
</a>
<a class='social' href='https://www.linkedin.com/in/blankchen/' target='_blank'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='40'
    height='40'
    fill='none'
    viewBox='0 0 40 40'
  >
    <defs>
      <clipPath id='a' class='a'>
        <path fill='#fff' d='M0 0h40v40H0z'></path>
      </clipPath>
    </defs>
    <g class='bi:linkedin' clip-path='url(#a)'>
      <path
        fill='#000'
        d='M0 2.865C0 1.282 1.315 0 2.938 0h34.124C38.685 0 40 1.282 40 2.865v34.27C40 38.718 38.685 40 37.062 40H2.938C1.315 40 0 38.718 0 37.135V2.865Zm12.357 30.62V15.422H6.356v18.063h6.002Zm-3-20.53c2.093 0 3.396-1.385 3.396-3.12-.038-1.773-1.3-3.12-3.355-3.12C7.343 6.715 6 8.065 6 9.835c0 1.735 1.303 3.12 3.318 3.12h.04Zm12.27 20.53V23.398c0-.54.04-1.08.2-1.465.433-1.078 1.42-2.195 3.08-2.195 2.173 0 3.04 1.654 3.04 4.085v9.662h6.003v-10.36c0-5.55-2.96-8.13-6.91-8.13-3.185 0-4.613 1.75-5.412 2.982v.063h-.04l.04-.063v-2.555h-6c.075 1.695 0 18.063 0 18.063h6Z'
        class='Vector'></path>
    </g>
  </svg>
</a>
<a class='social' href='https://medium.com/@blank-chen' target='_blank'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='40'
    height='40'
    fill='none'
    viewBox='0 0 40 40'
  >
    <path
      fill='#000'
      fill-rule='evenodd'
      d='M0 4a4 4 0 0 1 4-4h32a4 4 0 0 1 4 4v32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4Zm10.667 9.333H8v-2.666h4a1.334 1.334 0 0 1 1.067.533L20 20.445l6.915-9.221A1.333 1.333 0 0 1 28 10.667h4v2.666h-2.667v13.334H32v2.666h-8v-2.666h2.667V16L20 24.888 13.333 16v10.667H16v2.666H8v-2.666h2.667V13.333Z'
      class='Vector'
      clip-rule='evenodd'></path>
  </svg>
</a>
<a class='social' href='https://github.com/Blankchen' target='_blank'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='40'
    height='40'
    fill='none'
    viewBox='0 0 40 40'
  >
    <defs>
      <clipPath id='a' class='a'>
        <path fill='#fff' d='M0 0h40v40H0z'></path>
      </clipPath>
    </defs>
    <g class='bi:github' clip-path='url(#a)'>
      <path
        fill='#000'
        d='M20 0C8.95 0 0 8.95 0 20c0 8.85 5.725 16.325 13.675 18.975 1 .175 1.375-.425 1.375-.95 0-.475-.025-2.05-.025-3.725C10 35.225 8.7 33.075 8.3 31.95c-.225-.575-1.2-2.35-2.05-2.825-.7-.375-1.7-1.3-.025-1.325 1.575-.025 2.7 1.45 3.075 2.05 1.8 3.025 4.675 2.175 5.825 1.65.175-1.3.7-2.175 1.275-2.675-4.45-.5-9.1-2.225-9.1-9.875 0-2.175.775-3.975 2.05-5.375-.2-.5-.9-2.55.2-5.3 0 0 1.675-.525 5.5 2.05 1.6-.45 3.3-.675 5-.675 1.7 0 3.4.225 5 .675 3.825-2.6 5.5-2.05 5.5-2.05 1.1 2.75.4 4.8.2 5.3 1.275 1.4 2.05 3.175 2.05 5.375 0 7.675-4.675 9.375-9.125 9.875.725.625 1.35 1.825 1.35 3.7 0 2.675-.025 4.825-.025 5.5 0 .525.375 1.15 1.375.95A20.03 20.03 0 0 0 40 20C40 8.95 31.05 0 20 0Z'
        class='Vector'></path>
    </g>
  </svg>
</a>

<style lang='scss'>
  .social {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;

    &:hover {
      opacity: 0.7;
    }
  }
</style>
