svg text tspan {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

code {
  background: #1e1e3f;
  color: #9efeff;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 3px;
}

svg g {
  cursor: pointer;
}

svg g:hover > [fill='rgb(65,53,214)'] {
  fill: #232381;
  stroke: #232381;
}

svg g:hover > [fill='#FFFF04'] {
  fill: #d6d700;
}

svg g:hover > [fill='#FCE59A'] {
  fill: #f3c950;
}

g rect {
  user-select: none;
}
